* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 120vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.main {
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.header {
  padding-bottom: 20px;
  font-size: 3rem;
}

.mem-wrappers {
  display: flex;
  flex-direction: column;
}

.mem-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-wrappers {
  margin: 0 auto;
}

.header-wrappers {
  padding: 30px 10px;
  border-top: 2px solid rgb(129, 129, 129);
}

.mem-title {
  font-size: 2rem;
}

.mem-img {
  width: 24px;
  height: 24px;
}

.imgs {
  height: 400px;
  width: 400px;
  padding-bottom: 30px;
}

.default-blue {
  color: rgb(150, 97, 32);
}

/* Смена цвета */
.bayan-container:hover .default-blue {
  color: #000;
}

/* Появление значков при наведении */
.bayan-container:hover .close-default {
  /* display: block; */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.close-default {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* MEM 1 */

/* #mem-wrappers: #header-wrappers-close {
  display: none;
}

#mem-wrappers:target #header-wrappers-open {
  display: block;
}

#header-wrappers-open {
  display: none;
}

#mem-wrappers:target #img-wrappers1 {
  display: none;
} */

/* #img-wrappers1 {
  display: none;
} */

/* MEM 2 */

#mem-wrappers2:hover #header-wrappers-close2 {
  display: block;
}

#mem-wrappers2:hover #header-wrappers-open2 {
  display: none;
}

#header-wrappers-close2 {
  display: none;
}

#mem-wrappers2:hover .img2 {
  display: block;
}

.img2 {
  display: none;
}

#mem-wrappers2:hover #img-wrappers2 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#img-wrappers2 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* MEM 3 */

#mem-wrappers3:hover #header-wrappers-close3 {
  display: block;
}

#mem-wrappers3:hover #header-wrappers-open3 {
  display: none;
}

#header-wrappers-close3 {
  display: none;
}

#mem-wrappers3:hover .img3 {
  display: block;
}

.img3 {
  display: none;
}

#mem-wrappers3:hover #img-wrappers3 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#img-wrappers3 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/* MEM 4 */

#mem-wrappers4:hover #header-wrappers-close4 {
  display: block;
}

#mem-wrappers4:hover #header-wrappers-open4 {
  display: none;
}

#header-wrappers-close4 {
  display: none;
}

#mem-wrappers4:hover .img4 {
  display: block;
}

.img4 {
  display: none;
}

#mem-wrappers4:hover #img-wrappers4 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#img-wrappers4 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* #mem-wrappers:target #img-wrappers {
  display: block;
}

#mem-wrappers:not(:target) #img-wrappers {
  display: none;
} */



/* #mem-wrappers:target #img-wrappers1 {
  display: none;
} */



/* #img-wrappers {
  display: none;
} */





/* #mem-wrappers2:not(:target) #img-wrappers2 {
  display: none;
} */



