* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 120vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.main {
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1% 0;
}

.header {
  font-size: 3rem;
}

.mem-wrappers {
  display: flex;
  flex-direction: column;
}

.mem-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-wrappers {
  margin: 0 auto;
}

.header-wrappers {
  padding: 1% 1%;
  border-top: 0.15em solid rgb(129, 129, 129);
}

.mem-title {
  font-size: 1.8rem;
}

.mem-img {
  width: 2%;
  height: 2%;
}

.imgs {
  height: 31rem;
  width: 31rem;
  padding-bottom: 3%;
}

.default-blue {
  color: rgb(150, 97, 32);
}

/* Смена цвета */
.bayan-container:hover .default-blue {
  color: #000;
}

/* Появление значков при наведении */
.bayan-container:hover .close-default {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.close-default {

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* MEM 2 */

#mem-wrappers2:hover #header-wrappers-close2 {
  display: block;
}

#mem-wrappers2:hover #header-wrappers-open2 {
  display: none;
}

#header-wrappers-close2 {
  display: none;
}

#mem-wrappers2:hover .img2 {
  display: block;
}

.img2 {
  display: none;
}

#mem-wrappers2:hover #img-wrappers2 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#img-wrappers2 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* MEM 3 */

#mem-wrappers3:hover #header-wrappers-close3 {
  display: block;
}

#mem-wrappers3:hover #header-wrappers-open3 {
  display: none;
}

#header-wrappers-close3 {
  display: none;
}

#mem-wrappers3:hover .img3 {
  display: block;
}

.img3 {
  display: none;
}

#mem-wrappers3:hover #img-wrappers3 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#img-wrappers3 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/* MEM 4 */

#mem-wrappers4:hover #header-wrappers-close4 {
  display: block;
}

#mem-wrappers4:hover #header-wrappers-open4 {
  display: none;
}

#header-wrappers-close4 {
  display: none;
}

#mem-wrappers4:hover .img4 {
  display: block;
}

.img4 {
  display: none;
}

#mem-wrappers4:hover #img-wrappers4 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#img-wrappers4 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media screen and (max-width: 1920px) {
  .mem-title {
    font-size: 2rem;
  }

  .imgs {
    height: 30rem;
    width: 30rem;
  }

  .header {
    padding-bottom: 2%;
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 820px) {
  .mem-title {
    font-size: 1.2rem;
  }

  .header {
    padding-bottom: 1%;
    font-size: 2rem;
  }

  .imgs {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 320px) {
  .mem-title {
    font-size: 1.1rem;
  }

  .imgs {
    height: 10rem;
    width: 10rem;
  }

  .header {
    font-size: 1.4rem;
  }

  .container {
    padding: 4% 0;
  }

  .header-wrappers {
    padding: 4% 4%;
  }
}


